{% extends 'base.html' %}
{% block body %}
<form method="POST">  
    <div class="col-md-6">
        <a href="/login">Log out</a>
    </div>
    {% csrf_token %}
    <br />
    <div class="row">
        {% for x in api.articles %}
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="{{x.urlToImage}}" class="card-img-top" alt="{{x.source.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{x.webTitle}}</h5>
                    <p class="card-text">{{x.description|truncatechars:100}}</p>
                    <a href="{{x.webUrl}}" target="_blank" class="btn btn-primary">Read more</a>
                </div>
            </div>  
        </div>
        {%endfor%}
    </div>
</form>
{% endblock %}%}